<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge.JetBrains" version="0.1.1.0" targetFramework="net46" />
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net46" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net46" />
  <package id="JetBrains.Mono.Posix" version="20160927.50" targetFramework="net46" />
  <package id="JetBrains.MSBuild.Xplat.Engine" version="20161013.1.0" targetFramework="net46" />
  <package id="JetBrains.Platform.MSBuild.Logger" version="1.0.20170331.0" targetFramework="net46" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net46" />
  <package id="Mono.Debugger.Soft" version="1.0.20161020.46" targetFramework="net46" />
  <package id="Mono.Debugging" version="1.0.20161020.46" targetFramework="net46" />
  <package id="Mono.Debugging.Soft" version="1.0.20161020.46" targetFramework="net46" />
  <package id="Mono.Debugging.Win32" version="1.0.20161020.46" targetFramework="net46" />
  <package id="Mono.VSCodeDebugging" version="1.0.20161019.44" targetFramework="net46" />
  <package id="NetMQ" version="3.3.3.1" targetFramework="net46" />
  <package id="Newtonsoft35.Json" version="7.0.1" targetFramework="net46" />
  <package id="NuGet.Core" version="2.12.0" targetFramework="net46" />
  <package id="NuGet.Core.Ultimate" version="3.3.2" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
</packages>